#include <windows.h> // include for version info constants


A ICON MOVEABLE PURE LOADONCALL DISCARDABLE "soccer.ico"

//
// TO CHANGE VERSION INFORMATION, EDIT PROJECT OPTIONS...
//
1 VERSIONINFO
FILEVERSION 0,1,1,1
PRODUCTVERSION 0,1,1,1
FILETYPE VFT_APP
{
  BLOCK "StringFileInfo"
	 {
		 BLOCK "041604E4"
		 {
			 VALUE "CompanyName", "Rodrigo Marques Almeida da Silva"
			 VALUE "FileVersion", "0.1.1.1"
			 VALUE "FileDescription", "Robotics Soccer"
			 VALUE "InternalName", "soccer.exe"
			 VALUE "LegalCopyright", "Rodrigo Marques Almeida da Silva"
			 VALUE "LegalTrademarks", "Rodrigo Marques"
			 VALUE "OriginalFilename", "soccer.exe"
			 VALUE "ProductName", "Robotics Soccer"
			 VALUE "ProductVersion", "0.1.1.1"
		 }
	 }
  BLOCK "VarFileInfo"
	 {
		 VALUE "Translation", 0x0416, 1252
	 }
}

